$header-height: 120px;
$footer-height: 120px;
$page-content-gap: 5rem;

.wrapper {
	min-width: 320px;
	min-height: 100%;
	background-color: $white;
}

.page::before {
	content: '';
	display: block;
	height: $header-height;
}

.header__container, .main__container, .footer__container {
	position: relative;
	max-width: var(--sizes-container-md);
	margin: 0 auto;
	padding: 0 30px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: $header-height;
	background-color: $white;
	z-index: 999;
}

.main {
	min-height: calc(70vh - #{$header-height} - #{$footer-height} - #{$page-content-gap}*2);
	min-height: calc(var(--vh, 1vh) * 70 - #{$header-height} - #{$footer-height} - #{$page-content-gap}*2);
	margin-top: $page-content-gap;
}

.footer {
	width: 100%;
	text-align: center;
	margin-top: $page-content-gap;
	padding-top: 15px;
	padding-bottom: 25px;
	max-height: $footer-height;
}

.header__container, .main-navigation {
	height: inherit;
	width: inherit;
}

.header__container .main-navigation {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.header__container {
	border-bottom: 2px solid $gray-100;
}

.footer__container {
	border-bottom: 2px solid $gray-100;
}