.nav {
	display: inline-block;
	
	a[aria-current] {
		text-decoration: underline;
	}
}

.nav__list {
	display: inline-flex;
	justify-content: flex-end;
	gap: var(--space-6);
}

/* .nav__list-item {

} */
