@import 'variables';
@import 'typography';
@import 'layout';
@import 'nav';
@import 'pages/about';

html {
	overflow-y: auto;
	overflow-y: overlay;
	overflow-x: auto;
	overflow-x: hidden;
}

html.noscroll {
	overflow-y: hidden;
	.header {
		margin-right: 17px
	}
}

body.dots {
	background-image: radial-gradient(#ddd 1px,transparent 0), radial-gradient(#ddd 1px, transparent 0);
	background-position: 0 0, 25px 25px;
	background-size: 50px 50px;
}

@-ms-viewport {
  width: device-width;
}

.d-not-mobile {
	@media (max-width: 48em) {
		display: none !important;
	}
}

.d-only-mobile {
	@media (min-width: 48em) {
		display: none !important;
	}
}


article ul[role=list] {
	margin-left: 1.5rem;
	margin-top: 1.5rem;
}

article h2 {
	border-bottom-width: 1px;
}